/** @type {import('tailwindcss').Config} */
module.exports = {
  darkMode: 'class',
  content: [
    "./src/**/*.{js,jsx,ts,tsx}",  // adjust to your project structure
  ],
  theme: {
    extend: {
      colors: {
        'gradient-dark-start': '#0d2137',
        'gradient-dark-end': '#fc535e',
      },
    },
  },
}