@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Borel&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&: where(.dark, .dark *));

:root {
  --color-fushia: #c83cd8;
  --color-salmon: #e26868;
  --color-bright-salmon: #fc535e;

  --color-gradient-dark-start: #0d2137;
  --color-gradient-dark-end: #fc535e;

  --bg-linear-gradient-light: linear-gradient(
    135deg,
    var(--color-white) 0%,
    var(--color-white) 70%,
    var(--color-gradient-dark-end) 110%
  );

  --bg-button: linear-gradient(
    90deg,
    /* top-left to bottom-right */ var(--color-fushia) 0%,
    var(--color-fushia) 20%,
    var(--color-salmon) 60%
  );
  --bg-button-hover: linear-gradient(
    90deg,
    /* top-left to bottom-right */ var(--color-fushia) 0%,
    var(--color-fushia) 10%,
    var(--color-bright-salmon) 100%
  );
}

@theme {
  --color-fushia: var(--color-fushia);
  --color-salmon: var(--color-salmon);
  --color-bright-salmon: var(--color-bright-salmon);

  --color-gradient-dark-start: var(--color-gradient-dark-start);
  --color-gradient-dark-end: var(--color-gradient-dark-end);

  --text-h1: 124px;
  --text-h1-sm: 56px;
  --text-h1-md: 84px;
  --text-h2: 36px;
  --text-h2-sm: 24px;
  --text-body: 18px;

  --leading-h1: 136px;
  --leading-h1-mobile: 72px;
  --leading-h2: 56px;
  --leading-h2-sm: 32px;

  --leading-body: 24px;

  --font-akatab: "Akatab", sans-serif;
  --font-borel: "Borel", serif;
  --font-niramit: "Niramit", serif;

  --drop-shadow-main: 1px 2px 3px rgb(0 0 0 / 0.3);

  --shadow-card: 2px 3px 14px rgb(0 0 0 / 0.25);
}

.dark .dark-gradient {
  background-image: linear-gradient(
    135deg,
    /* top-left to bottom-right */ var(--color-gradient-dark-start) 0%,
    var(--color-gradient-dark-start) 70%,
    var(--color-gradient-dark-end) 110%
  );
}

.light-gradient {
  background-image: var(--bg-linear-gradient-light);
}

.btn-gradient {
  background-image: linear-gradient(
    90deg,
    /* top-left to bottom-right */ var(--color-fushia) 0%,
    var(--color-fushia) 20%,
    var(--color-salmon) 60%
  );
}

.text-gradient {
  background-image: linear-gradient(
    90deg,
    /* top-left to bottom-right */ var(--color-fushia) 0%,
    var(--color-fushia) 20%,
    var(--color-salmon) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark {
  .dark\:bg-gradient-dark-start {
    @apply bg-gradient-dark-start;
  }

  .dark\:placeholder-white::placeholder,
  .dark\:text-white {
    color: var(--color-white);
  }
}

@media (hover: hover) {
  .hover-bg-button-hover:hover {
    background-image: var(--bg-button-hover);
  }
}
